@import url('http://fonts.cdnfonts.com/css/nexa-rust-extras');
.main{
    background: rgba(16, 16, 16, 1);
    min-height: 100vh;
    font-family: sans-serif;
}
body::-webkit-scrollbar {
    display: none;
  }
