@import url('http://fonts.cdnfonts.com/css/nexa-rust-extras');
.main{
    background: rgba(16, 16, 16, 1);
    min-height: 100vh;
    font-family: sans-serif;
}
body::-webkit-scrollbar {
    width: .3em;
  }
   
 
  body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 0, 0);
    outline: 1px solid rgb(0, 128, 255);
  }