.video-descriptions p{
font-size: 1rem;
font-weight: lighter;
color: rgb(221, 221, 221);
}
.video-title{
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family: sans-serif;
}
.icons{
    color: white;
    font-size: 1rem;
    font-weight: lighter;
    
}
.icons span{
font-size: .9rem;
}
.subscibe-btns input{
background: red;
font-size: 1rem;
border-radius: 2px;
color: white;

}
.subscibe-btns input:hover{
    background: rgb(116, 1, 1);
}
.icons i{ 
    font-size: 15px !important;
    font-weight: 300;

}
.icons p{
    margin-top: .1rem;
    font-weight: 400;
    font-size: .9rem;
}
i{
    cursor: pointer;
}
.like-button{
    color: red;
}